/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Montserrat', sans-serif;   
}
.web-app {
    height: 100vh;
    width: 100%;
    
}
.btn {
    border: 2px solid white;
    border-radius: 25px;
    color: white;
}

/* Barra upgrade */
.barra-upgrade {
    height: 100px;
    width: calc(100% - 250px);
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.barra-upgrade a {
    text-decoration: none;
    position: fixed;
    top: 10px;
    right: 22px;
    font-size: 13px;
    padding: 15px 30px;
    font-weight: bold;
    transition: 0.5s;
}
.barra-upgrade a:hover {
    transform: scale(1.2);
}


/* MAIN */
main {
    height: calc(100% - 100px);
    width: 100%;
    overflow: hidden;

    /* test */
    background-color: lightblue;
}
/* Sezione Navigazione */
.navigazione {
    float: left;
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    color: grey;
    padding-left: 15px;
    background-color: black;
}

/* logo */
.logo {
    padding: 20px;
}

/* start */
.start {
    margin-top: 10px;
}
.start ul {
    list-style-type: none;
}
.start ul li {
    padding: 7px;
}
.start ul li img {
    height: 26px;
    vertical-align: middle;
    
}
.start ul li:first-child {
    border-left: 3px solid lawngreen;
    color: white;
}
.start ul li:hover {
    color: white;
}
/* playlist */
.playlist {
    overflow: hidden;
    flex-grow: 1;
    margin-top: 15px;
}
.crea-playlist {
    font-weight: 800;
    font-size: 18px;
    margin-top: 5px;
}
.crea-playlist i {
    height: 50%;
}
.playlist ul {
    height: 85%;
    overflow-y: auto;
    margin-top: 15px;
}
.playlist h3 {
    color: white;
}
.crea-playlist:hover {
    color: white;
}
.playlist ul li:hover {
    color: white;
}

/* user */
.user img {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    background-color: grey;
    border-radius: 30px;
    color: white;
}
.user h3 {
    display: inline-block;
    color: white;
    margin-top: 10px;
}
.user div {
    margin-bottom: 10px;
    display: inline-block;
}
.user div img {
    background-color: black;
    height: 20px;
}
.user hr {
    width: 80%;
    border: 1px solid grey;
}
.user div:hover {
    color: white;
}


/* Sezione Home */
.home {
    float: left;
    height: 100%;
    width: calc(100% - 250px);
    padding-top: 100px;
    overflow-y: auto;

    /* test */
    background-color: rgb(14, 19, 31);
}

/* menu */
.menu {
    text-align: center;
    color: grey;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.menu div {
    margin-left: 25px;
}
.menu div:first-child {
    border-bottom: 2px solid lawngreen;
}
.menu div:hover {
    color: white;
}

/* music */
.home h2 {
    margin-top: 25px;
    color: white;
    margin-left: 15px;
}
.music {
    display: flex;
    margin-top: 20px;
    color: grey;
    margin-left: 10px;
    text-align: center;
    flex-direction: row;

}
.music div img {
    width: 85%;
}
.stranger {
    width: 24%;
}
.music div h4 {
    color: white;
    margin-top: 10px;
}
.home span {
    color: grey;
    margin-left: 20px;
    margin-top: 20px;
}
.creato div img {
    width: 56%;
}
.artisti div img {
    width: 56%;
    border-radius: 200px;
}
.music div:hover {
    background-image: url("../img/favicon.ico");
    background-size: contain;
}



/* FOOTER */
footer {
    height: 100px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: rgb(40, 40, 40);
    color: grey;
}

/* play */
.music-play {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.music-play div img {
    height: 55px;
}
.music-play div {
    margin-left: 15px;
}
.music-play div h5 {
    color: white;
}
.music-play div span {
    font-size: 13px;
}
.music-play div span:hover {
    text-decoration: underline;
    color: white;
}
.music-play div:nth-of-type(3):hover,
.music-play div:nth-of-type(4):hover {
    color: white;
}

/* music bar */
/* bar */
.music-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icons i {
    margin-right: 40px;
    margin-top: 15px;
    font-size: 18px;
    color: white
}
.icons i:nth-of-type(3) {
    font-size: 30px;
}
.fa-play-circle:hover {
    transform: scale(1.2);
}
/* time */
.time {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
    margin-top: 20px;
}
.time div {
    margin-right: 35px;
}
.time:nth-of-type(2) {
    height: 5px;
    width: 40px;
    color: white;
}
/* da sostituire */
.time div input {
    width: 400px;
}

/* volume */
.music-volume {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}
.music-volume div {
    margin-right: 20px;
}
.music-volume:nth-of-type(4) {
    width: 17px;
}

/* RESPONSIVE */
@media screen and (max-widht: 700 ) {
    .music {
        flex-wrap: wrap;
    }
}
@media screen and (max-widht: 600 ) {
    
}
@media screen and (max-widht: 500 ) {
    
}